{% extends "bs_base.html" %}

{% block title %}Skeketon{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h3>About</h3>
    </div>
    <p>Aim is to demonstrate the ease of:<br>
        1. Using Google Chart tools from Flask app<br>
        2. Deploying a Flask app to GCS App Engine <br>
        </p>

    <div class="page-header">
        <h3>GTimeline</h3>
    </div>
    <p>Demo using Google Chart timeline </p>
    <p><b>Known Issues:<br>
        1. End time must be >= Start time
        2. Keep at lease 2 timeline lanes

    </b></p>

    <div class="page-header">
        <h3>Guide</h3>
    </div>
    <p>Guide for Deploying a Flask app to GCS App Engine</p>









{% endblock %}
