{% extends "bs_base.html" %}

{% block title %}Skeketon{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h2>About Bootstrap Skeleton App</h2>
    </div>
        <p>Bootstrap Skeleton App aim is to demonstrate the ease of:</p>
        <p>1. Using Google Chart tools from Flask app</p>
        <p>2. Deploying a Flask app to GCS App Engine </p>
        <p></p>
        <p>Resources:</p>
        <a href="https://github.com/ssaban/BoootstrapFlaskSkeleton">GitHub BootstrapFlaskSkeleton Repo</a>

    </div>

{% endblock %}
