{% extends "bs_base.html" %}

{% block title %}Skeleton{% endblock %}

{% block page_content %}
   <form action = "/GTimeline" method = "POST" id="SetTimeline">

       <h2> {{ title }}</h2>
       <div id="timeline" style="height: 400px; width:1100px"></div>

       <table>
           <tr>
               <th>
                   <!-- Enter event_lane event Start -->
                   <div class="form-group">
                        <fieldset class="border p-2">
                            <legend  class="w-auto">Set Timeline Events</legend>
                                <label class="block"><input type="radio" name="RadioForTimeLineLaneUpdate" value="update" checked> Update</label>
                                <label class="block"><input type="radio" name="RadioForTimeLineLaneUpdate" value="remove"> Remove</label>
                                <p>Timeline For <input type = "text" name = "LaneName" /></p>
                                <p>Event <input type = "text" name = "Event" />
                                    &ensp;&ensp;Start Date &ensp; <input type = "date" name = "EventStartDate"  id="EventStartDate"/>
                                    &ensp;&ensp;End Date &ensp;  <input type = "date" name = "EventEndDate"  id="EventEndDate"/>

                                </p>

                                <script>
                                   if (datefield.type!="date")
                                   { //if browser doesn't support input type="date", initialize date picker widget:
                                        jQuery(function($)
                                        { //on document.ready
                                            $('#EventEndDate').datepicker();
                                            $('#EventEndDate').datepicker();
                                        })
                                   }
                                </script>

                    </div>
               </th>
           </tr>
           <tr>
                <th>
                   <!-- Setup  Calendar events -->
                   <div class="form-group">
                        <fieldset class="border p-2">
                            <legend  class="w-auto">
                                <p>Blackout Date Updater <input type="checkbox" id="setCalEvent" name="setCalEvent" onclick="myFunction()"></p>
                            </legend>
                            <table id="FilterDescriptors" style="display:none">
                                <tr>
                                    <th>
                                        <label class="block"><input type="radio" name="RadioForBlackoutEventUpdate" value="update" checked> Update</label>
                                        <label class="block"><input type="radio" name="RadioForBlackoutEventUpdate" value="remove"> Remove</label>
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <p>Blackout For <input type = "text" name = "BlackoutEvent">
                                             &ensp;&ensp;Start &ensp;  <input type = "date" name = "BlackOutStart"  id="BlackOutStart">
                                             &ensp;&ensp;End &ensp;<input type = "date" name = "BlackOutEnd"  id="BlackOutEnd">
                                        </p>
                                    </th>
                                </tr>
                            </table>

                            <!--
                            <script>

                            jQuery(function($){

                                $("#BlackOutStart").datepicker({
                                                        numberOfMonths: 2,
                                                            onSelect: function (selected){
                                                            var dt = new Date(selected);
                                                            dt.setDate(dt.getDate() + 1);
                                                            $("#BlackOutEnd").datepicker("option", "minDate", dt);
                                                            }
                                                        });


                                $("#BlackOutEnd").datepicker({
                                                        numberOfMonths: 2,
                                                        onSelect: function (selected) {
                                                        var dt = new Date(selected);
                                                        dt.setDate(dt.getDate() - 1);
                                                        $("#BlackOutStart").datepicker("option", "maxDate", dt);
                                                        }
                                                    });

                            </script>
                            -->




                            <script>
                                if (datefield.type!="date")
                                { //if browser doesn't support input type="date", initialize date picker widget:
                                    jQuery(function($){ //on document.ready
                                        $('#BlackOutStart').datepicker();
                                        $('#BlackOutEnd').datepicker();
                                    })
                                }
                            </script>

                        </fieldset>
                    </div>
               </th>
           </tr>
       </table>

            <script>
                function myFunction()
                {
                    var checkBox = document.getElementById("setCalEvent");
                    var text = document.getElementById("FilterDescriptors");
                    if (checkBox.checked == true){
                        text.style.display = "block";
                    }
                    else {
                        text.style.display = "none";
                    }
                }
             </script>

       <button type="submit" value="add" name="add" class="btn btn-success" >Commit</button>
      {% if can_confirm %}
            <button type="submit" value="confirm" name="confirm"  formaction="/SetTimeline" class="btn btn-success" >Confirm Configs</button>
      {% endif %}
</form>


{% endblock %}